# PokeAPI Final Project

In [3]:
# Importing all essential libraries. More to be added as project continues
import pandas as pd
import json
import requests

In [4]:
# Function to fetch a Pokemon's data
def fetch_pokemon_data(pokemon):
    # Extract the pokemon's data
    pokemon_url = pokemon["url"]
    poke_resp = requests.get(pokemon_url)
    poke_data = poke_resp.json()

    # Extracting the pokemon's name, type, and stats from poke_data
    name = poke_data["name"]
    types = [type['type']['name'] for type in poke_data["types"]] # get all types if a pokemon has multiple types
    stats = {stat["stat"]["name"]: stat["base_stat"] for stat in poke_data["stats"]} # get all stats as a dictionary (stat["stat"]["name"]: stat["base_stat"] creates a key-value pair in which the name is the key and the base stat is the value)

    # Add Pokemon's name and types into the dictionary (ensuring they're there if not)
    stats["name"] = name
    stats["types"] = types

    return stats # returns as a dictionary

In [5]:
# Fetching the API (100 is a temporary limit, can change later)
api_url = "https://pokeapi.co/api/v2/pokemon?limit=100&offset=0"
response = requests.get(api_url)
pokedex_data = response.json()

# Creating a list which will store all the Pokemons' information
pokemon_list = []

# Loop which will fetch each Pokemons' data and append it to a list
for pokemon in pokedex_data["results"]:
    pokemon_entry = fetch_pokemon_data(pokemon)
    pokemon_list.append(pokemon_entry)

# Convert the list to a DataFrame
pokemon_df = pd.DataFrame(pokemon_list)
pokemon_df = pokemon_df[["name", "types", "hp", "attack", "defense", "special-attack", "special-defense", "speed"]]
display(pokemon_df.head())

,name,types,hp,attack,defense,special-attack,special-defense,speed
0,bulbasaur,"[grass, poison]",45,49,49,65,65,45
1,ivysaur,"[grass, poison]",60,62,63,80,80,60
2,venusaur,"[grass, poison]",80,82,83,100,100,80
3,charmander,[fire],39,52,43,60,50,65
4,charmeleon,[fire],58,64,58,80,65,80

In [45]:
# Describes the Pokemon DataFrame
pokemon_df.describe()

,hp,attack,defense,special-attack,special-defense,speed
count,100.000000,100.000000,100.000000,100.00000,100.000000,100.000000
mean,59.490000,69.780000,63.240000,63.41000,61.560000,66.780000
std,21.539016,24.190147,27.216721,26.69661,22.504913,25.555873
min,10.000000,20.000000,15.000000,20.00000,20.000000,15.000000
25%,40.000000,50.000000,45.000000,44.50000,45.000000,45.000000
50%,60.000000,70.000000,59.000000,60.00000,61.500000,68.500000
75%,75.000000,86.250000,75.500000,82.00000,80.000000,90.000000
max,140.000000,130.000000,180.000000,135.00000,120.000000,120.000000

In [46]:
# Displaying the count to check for missing values
pokemon_df.count()

name               100
types              100
hp                 100
attack             100
defense            100
special-attack     100
special-defense    100
speed              100
dtype: int64

We wanted to know if there is a relationship between the types of Pokémon released and the generation they originate from.